* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input, textarea {
    outline: none;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}
header {
    background: #fff;
    height: 80px;
}
.container {
    max-width: 1200px;
    padding: 0 20px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 15px 0;
    height: 100%;
}
ul {
    list-style: none;
}
header ul {
    display: flex;
    justify-content: space-between;
}
.menu {
   width: 60%;
}
.menu a {
    display: block;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    padding: 8px 10px;
}
.menu li {
    position: relative;
}
.menu li:hover a {
    color: #17bf87;
    transition: 0.5s;
}
.menu li::after {
    content: "";
    position: absolute;
    left: 0;
    right: 100%;
    bottom: 0;
    height: 3px;
    background: #17bf87;
}
.menu li:hover::after {
    content: "";
    right: 0;
    transition: all 0.5s;
}
.action-btn a {
    display: block;
    width: 36px;
    height: 36px;
    padding: 6px;
}
.action-btn a img {
    width: 24px;
    height: 24px;
}
.action-btn li:hover a {
    background: #4446464b;
    transition: all 0.5s ease-in-out;
}
div {
    background-image: url(../img/bg-blog.jpg);
    background-attachment: fixed;
    background-position: center 90%;
    margin: 0 auto;
    padding: 15px 0;
}
h2 { 
    color: #fff;
    font-size: 50px;
    padding: 20px 0;
}